.booking {
  padding: 50px 0 48px;
  background: no-repeat url("../img/jpg/background-3.jpg") center;
  background-color: $spare-background;
  background-size: cover;

  @media (max-width: $tablet-width) {
    padding: 89px 0 100px;
  }

  @media (max-width: $mobile-width) {
    padding: 60px 0 66px;
  }
}

.booking__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1056px;
  margin: 0 auto;

  @media (max-width: $tablet-width) {
    flex-direction: column;
    align-items: center;
  }
}

.booking__info {
  position: relative;
  top: 4px;
  padding: 0 143px 20px 0;

  @media (max-width: $tablet-width) {
    position: static;
    padding: 0;
  }
}

.booking__title {
  @include montserrat-700(40px, 60px);
  color: $color-blue;

  @media (max-width: $tablet-width) {
    @include montserrat-700(34px, 51px);
    text-align: center;
    padding-bottom: 4px;
  }

  @media (max-width: $mobile-width) {
    @include montserrat-700(24px, 31px);
    padding-bottom: 14px;
  }
}

.booking__text {
  @include montserrat-400(18px, 27px);
  color: $color-blue;
  padding: 7px 0 0 0;
  max-width: 352px;

  @media (max-width: $tablet-width) {
    padding: 0 0 52px;
    text-align: center;
    margin: 0 auto;
  }

  @media (max-width: $mobile-width) {
    @include montserrat-400(16px, 22px);
    padding: 0 0 33px;
    max-width: 257px;
  }

  & br {
    display: none;
  }
}
