.contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 120px 0 115px;
  max-width: 1160px;
  transform: translateX(-10px);

  @media (max-width: $tablet-width) {
    justify-content: center;
    padding: 100px 0 95px;
    max-width: 678px;
    transform: translateX(0);
  }

  @media (max-width: $mobile-width) {
    flex-direction: column-reverse;
    padding: 0 0 42px;
    max-width: 100%;
    min-width: 290px;
  }
}

.contacts__map-wrapper {
  margin-right: 100px;

  @media (max-width: $tablet-width) {
    margin-right: 30px;
  }

  @media (max-width: $mobile-width) {
    margin: 0;
  }
}

.contacts__map {
  object-fit: cover;
  border: none;

  @media (max-width: $tablet-width) {
    max-width: 324px;
    height: 335px;
  }

  @media (max-width: $mobile-width) {
    max-width: 100%;
  }
}

.contacts__wrapper {
  transform: translateX(0);

  @media (max-width: $tablet-width) {
    transform: translateX(0);
  }

  @media (max-width: $mobile-width) {
    padding-top: 60px;
  }
}

.contacts__text {
    @include montserrat-500(18px, 27px);
    padding-bottom: 32px;
    max-width: max-content;

  @media (max-width: $tablet-width) {
    padding-bottom: 30px;

    & br {
      display: none;
    }
  }

    @media (max-width: $mobile-width) {
      order: 1;
      padding-bottom: 27px;
    }
}
