.menu-button {
  display: none;

  @media (max-width: $mobile-width) {
    display: block;
    width: 13px;
    height: 13px;
    border: none;
    cursor: pointer;
    z-index: 10;
    transform: translateY(10px);

    &--open {
      background: url("../img/svg/close-button-icon.svg") no-repeat center;
    }

    &--burger {
      background: url("../img/svg/burger-button-icon.svg") no-repeat center;
      width: 24px;
      height: 12px;
    }
  }
}
