.page-header {
  position: relative;
  width: 100%;
  background: no-repeat url("../img/jpg/background-1.jpg") center / cover;
  background-color: $spare-background;

  @media (max-width: $tablet-width) {
    background: no-repeat url("../img/jpg/background-1-table.jpg") center / cover;
    background-color: $spare-background;
  }

  @media (max-width: $mobile-width) {
    background: no-repeat url("../img/jpg/background-1-mobile.jpg") center / cover;
    background-color: $spare-background;
  }
}
.page-header__container {
  display: flex;
  align-items: center;
  padding-top: 35px;
  max-width: 1160px;
  margin: 0 auto;

  @media (max-width: $tablet-width) {
    padding-top: 29px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 0;
  }
}

.page-header__logo {
  margin-right: auto;
  @media (max-width: $mobile-width) {
    padding-top: 20px;
  }
}

.page-header__content {
  padding: 198px 200px 283px 95px;
  margin: 0 auto;
  max-width: 1160px;

  @media (max-width: $tablet-width) {
    padding: 215px 0 274px;
  }

  @media (max-width: $mobile-width) {
    padding: 133px 0 179px;
    max-width: 270px;
    margin: 0;

    &--nojs {
      padding-top: 320px;
    }
  }
}

.page-header__title {
  @include montserrat-700;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  color: $color-white;
  margin-bottom: 12px;

  @media (max-width: $tablet-width) {
    @include montserrat-700(50px, 60px);
    margin-bottom: 16px;
  }

  @media (max-width: $mobile-width) {
    @include montserrat-700(36px, 45px);
    margin-bottom: 11px;
  }
}

.page-header__subtitle {
  @include montserrat-400(20px, 24px);
  color: $color-white;

  @media (max-width: $tablet-width) {
    @include montserrat-400(18px, 21px);
  }

  @media (max-width: $mobile-width) {
    @include montserrat-400(16px, 22px);
    max-width: 199px;
  }
}
